// main: main.sass

.project-meta

    h4
        color: $color-primary
        font-family: Montserrat
        font-size: 14px

    ul > li > a
        border-radius: 99px
        border: 2px solid $color-grey-20
        padding: .3em .8em
        font-size: 12px
        font-family: Montserrat
        color: $color-grey-40
        line-height: 2.5em

        &:hover
            color: $color-white
            border-color: $color-accent
            background-color: $color-accent

.project
    margin-top: 50px

    .project-title,
        font-family: Montserrat
        font-size: 16px
        margin: .8em 0
        padding: 0
        text-transform: uppercase
        font-weight: bold
        color: $color-grey-70

    .project-date
        font-family: Montserrat
        font-size: 16px
        margin: .8em 0
        padding: 0
        text-transform: uppercase
        font-weight: bold
        line-height: 1em
        color: $color-grey-50

    .project-categories
        font-family: Montserrat
        text-transform: uppercase
        color: $color-grey-30
        font-weight: bold

        a
            transition: all .1s linear

            &:hover,
            &:active,
            &:focus
                color: $color-accent
