// compileCompressed: ../../style-yellow.css, sourceMap: true

@import "wordpress-headers"
@import "_bootstrap"
@import "colors"
@import "mixins"

$color-primary: $color-yellow
$color-accent: $color-grey-80

$color-menu-1-inactive: lighten($color-primary, 40%)
$color-menu-1-active: $color-white

@charset "utf-8"
@import "bootstrap-overriders"
@import "bootstrap-importers"
@import "header"
@import "wordpress-core"
@import "main"
@import "portfolio"
@import "simple-lightbox"
